/* * {box-sizing: border-box;} */


.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 27.5% 27.5% 25%;
  background-color: #4b2e83;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}

.grid-banner{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  vertical-align: text-bottom;
  text-align: center;
}
img{
  padding-top: 75;

}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.grid-item3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}
.grid-item4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  bottom: 0;
  font-size: 30px;
  text-align: center;
}

        .resp-iframe {
          width: 400%;
          height: 400%;
          border-style: solid;
          border-radius: 5px;
          border-color: purple;
           -ms-zoom: 0.7; -moz-transform: scale(0.7); -moz-transform-origin: 0px 0; -o-transform: scale(0.7); -o-transform-origin: 0 0; -webkit-transform: scale(0.25); -webkit-transform-origin: 0 0;
           z-index:996;
        }
        .resp-iframe2 {
            width: 400%;
            height: 400%;
            border-style: solid;
            border-radius: 5px;
            border-color: purple;
             -ms-zoom: 0.7; -moz-transform: scale(0.7); -moz-transform-origin: 0px 0; -o-transform: scale(0.7); -o-transform-origin: 0 0; -webkit-transform: scale(0.25); -webkit-transform-origin: 0 0;
             z-index:997;
        }
